# Environment
.env
*.env
.env.dev
.env.prod 

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Data (raw extracted data)
#data/raw/*.csv
#data/raw/*.parquet
#data/processed/*.csv
#data/processed/*.parquet

# Output (reports, images)
output/*.pdf
output/*.pptx
output/*.png

# Notebooks
notebooks/.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store
